*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(10, 17, 35); */
}

body{
  background-color: rgb(10, 17, 35);
  cursor: pointer;
}

p{
  color: khaki;
}

header h1{
  text-align: center;
  color: khaki;
  padding: 35px;
  font-size: 60px;
  padding-bottom: 100px;
}

.nav-bar{
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  background-color: rgb(149, 155, 181);
  padding: 30px;
}

.logo p{
  padding-left: 30px;
  color: rgb(10, 17, 35);
  font-size: 20px;
}

.logo a{
  text-decoration: none;
  color: rgb(10, 17, 35);
}

.logo a:hover{
  color: khaki;
}

.logo p:hover{
  color: khaki;
}

.nav-links nav{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-right: 30px;
}

.nav-links a{
  text-decoration: none;
  color: rgb(10, 17, 35);
  font-size: 20px;
}

.nav-links a:hover{
  color: khaki;
}

#nav-svg{
  display: none;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  gap: 20px;
}

.card {
  background-color: rgb(149, 155, 181);
  height: 300px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.card:hover{
  background-color: khaki;
}

.card p {
  font-size: 22px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  color: rgb(10, 17, 35);
}

.card i {
  font-size: 70px;
  color: rgb(10, 17, 35);
}

.build-mode button{
  /* margin: 0 auto; */
  padding: 35px;
  background-color: khaki;
  color: rgb(10, 17, 35);
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-top: 40px;
  font-size: 20px;
}

.build-mode button:hover{
  background-color: rgb(149, 155, 181);
}

/* .build-mode{
  margin: 0 690px;
} */
 main{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 footer{
  display: flex;
  justify-content: right;
  gap: 40px;
  padding-top: 100px;
  text-align: right;
  padding-right: 10px;
 }

 footer a{
  color: khaki;
  text-decoration: none;
 }

 @media screen and (max-width: 768px){
  header h1{
    font-size: 25px;
  }

  .nav-bar{
    padding: 20px;
  }

  .nav-links a{
    display: none;
  }

  #nav-svg{
    display: block;
    padding-left: 180px;
  }

  .logo p{
    font-size: 13px;
  }

 }